	<p class="vendedor_cv">
		<style type="text/css">
			#coluna-esquerda {width: 320px; float:left; height: 80px; background-color: #C3C3C3; display: block; overflow: auto;}
			#coluna-direita {width: 320px; float:left; height: 80px; background-color: #C3C3C3; display: block; overflow: auto;}
		</style>
		<%= select :estado,
			       :estado_id,
		           Estado.find(:all).collect {|t| [t.estado, t.id]},
		           {:prompt=>"--Selecione o estado--"},
		           :onchange=>remote_function(:update=>"coluna-esquerda",
		           :url=>{:action=>"lista_vendedores"},:with=>"'estado_id='+value")
	 	%>
			
		<ul id="coluna-esquerda" class="connect">
		
		</ul>
		<ul id="coluna-direita" class="connect">
		</ul>
		<div id="janela"></div>
	</p>