	<p class="vendedor_cv">
		<style type="text/css">
			#coluna-esquerda {width: 320px; float:left; height: 80px; background-color: #C3C3C3; display: block; overflow: auto;}
			#coluna-direita {width: 320px; float:left; height: 80px; background-color: #C3C3C3; display: block; overflow: auto;}
		</style>

		<ul id="coluna-esquerda" class="connect">
			<%= render :partial => "vendedores_lista"%>
		</ul>
		<ul id="coluna-direita" class="connect">
		</ul>
		<div id="janela"></div>
		<ul id="items"></ul>
	    <label class="label">Vendedor</label>
	    <br />
	</p>	 