<% Distribuidor.all(:conditions=>["estado=?", params[:estado_id]]).each_with_index do |distribuidor, id| %>
	<li id="vendedor_<%=distribuidor.id%>" onclick="javascript: dragVendedores(this.id, '<%=distribuidor.id%>', '<%=distribuidor.nome_fantasia%>');">
		<%=distribuidor.nome_fantasia%>
	</li>
<% end%>