*{	font-family:Arial, Helvetica, sans-serif;}

body {margin:0px; background:#fff url(../../images/fundo.png) top left repeat-x;}

form {margin:0px; padding:0px;}

img {border:0px; behavior: url("pngbehavior.htc");}

button {background:url(../../images/fundo_botao.png) center center; border:1px solid #ccc}

.campo {border: 1px solid #ccc}


#logoBox {width:200px; margin:100px auto 0px auto;}
	#logoBox img {width:200px; height:89px;}

#loginBox {margin:15px auto 0px auto; width:200px; padding:5px; border:1px solid #ccc;}
	
	#loginBox #titulo {margin:0px 0px 5px 0px; background:url(../../images/fundo_titulo.png) center center;padding:5px; font-size:12px; font-weight:bold; color:#fff; text-align:center;}

	#loginBox #conteudo {background:#fff url(../../images/fundo_corpo.png) top; padding:5px;}
		#loginBox #conteudo * {font-size:11px;}
		#loginBox #conteudo table {border-collapse:collapse;}
		#loginBox #conteudo td {padding:5px;}

#aguarde {border: 1px solid #ccc; padding:3px; position:absolute; font-size:11px; margin:30px 0px 0px 670px; cursor:wait;}
	#aguarde #centroAguarde {background:#fff; padding: 5px;}
	#aguarde img {vertical-align:middle;width:16px; height:16px;}

#corpo {width:980px;margin:15px auto 0px auto;}

	#corpo #userBox{float:right; margin:20px 0px 0px 0px; border-top:1px solid #666;border-left:1px solid #666;border-bottom:1px solid #fff;border-right:1px solid #fff; background:#1179C6;}
		#corpo #userBox * {font-size:11px}
		#corpo #userBox table {border-collapse:collapse;}
		#corpo #userBox th {padding:5px;color:white}

	#corpo #conteudo {margin:10px auto 0px auto;}
	
	#corpo #menu {width:195px; border:1px solid #ccc; padding:1px; background:#fff; float:left}
		
		#corpo #menu .titulo {margin:0px 0px 5px 0px; background:url(../../images/fundo_titulo.png) center center;padding:3px 5px 3px 5px; font-size:12px; font-weight:bold; color:#fff;}
		
		#corpo #menu a {display:block; padding:3px; text-decoration:none;font-size:11px; color:#666; border:1px solid #fff; margin:2px;}
		#corpo #menu a:hover {display:block; padding:3px; text-decoration:none; font-size:11px; color:#000; background:url(../../images/fundo_botao.png) center center;border:1px solid #ccc}

		#corpo .hr {border:0px; border-top:1px dotted #666; margin:8px 3px 3px 8px;padding:3px}

		#corpo #menu img {vertical-align:middle;width:16px; height:16px;}

	#corpo #centro { width:770px; float:right;border:1px solid #ccc; padding:1px; background:#fff;}
			
			#corpo #centro .titulo {margin:0px 0px 5px 0px; background:url(../../images/fundo_titulo_centro.png) center center;padding:3px 5px 3px 5px; font-size:12px; font-weight:bold; color:#fff;}

				#corpo #centro .titulo img {vertical-align:middle;width:16px; height:16px;}

#formulario{margin:5px;}
	#formulario * {font-size:11px;}
	#formulario ul{margin:0px; padding:0px; list-style:none;}
	#formulario li {margin:0px; padding:3px; list-style:none;}
	#formulario table {float:right;}
	#formulario select {width:250px}
	#formulario button {margin:0px 5px 0px 0px;}
	#formulario fieldset{ border:#CCCCCC solid 1px}
	#formulario legend{color:#0066CC; font-weight:bold; font-size:14px; padding:10px}
	#formulario table{border:none}
	#formulario td{border:none; background-color:#e9e9e9; padding-left:5px}
	#formulario th{border:none; background:url(../../images/fundo_titulo_lista.png) center center;color:#fff}
	
	#formulario #addProdutoEnd {padding:0px; border:1px solid #ccc; width:320px; margin-left:100px;}
		#formulario #addProdutoEnd h6 {padding:3px; margin:1px; font-size: 11px; background:url(../../images/fundo_titulo_lista.png) center center;color:#fff}
		#formulario #addProdutoEnd li {padding:3px;display:table-cell; float:left; width:180px;}
		#formulario #addProdutoEnd select {width:50px;}

#filtro{margin:5px;}
	#filtro * {font-size:11px;}
	#filtro table {border-collapse:collapse;}

#listagem{margin:5px;}
	#listagem * {font-size:11px;}
	#listagem button {margin:0px 5px 0px 0px;}
	#listagem table { border-collapse:collapse; border: 1px solid #ccc; margin:0px 0px 5px 0px; width:100%}
	#listagem td {padding:3px;}
	#listagem thead td {background:url(../../images/fundo_titulo_lista.png) center center; color:white; font-weight:bold}	
	#listagem tbody td {border-top:1px dashed #ccc}
	#listagem tbody tr:hover { background:#ffffcc}
	#listagem tbody tr:active { background:#ffffcc}

.coluna{float:left; width:250px;}

#resultadosBusca label { display:block; padding:3px;}

#relatorioSeriais{display:none; position:absolute; border:#ccc solid 2px; top:20%; left:50%; margin-left:-450px; background-color:#fff; width:900px; padding:8px}
#relatorioSeriais a{background-color:#CCCCCC; padding:5px 10px 5px 10px; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; position:relative; right:0px; margin-left:80%; top:-5px; color:#333333}
#relatorioSeriais table{font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#666666; width:100%; margin-top:10px}
#relatorioSeriais td{border-bottom:#CCCCCC solid 1px; height:30px;}
#relatorioSeriais .thead{color:#0066CC; font-size:14px}
#relatorioSeriais h3{color:#FF9900; font-size:16px}

#tbPerguntas {width:97%;font-size:11px; }
#tbPerguntas tr { }
#tbPerguntas tr td {border-bottom: 1px solid #CCC;padding: 4px 3px; }

#respostas {font-size:11px; position:absolute;padding: 2px;background:#efefef;border: 1px solid #ccc;width:300px; }	
#respostas .tituloRespostas {font-weight:bold;padding:3px 5px; width: 290px;background:url(../../images/fundo_titulo_lista.png) center center;color:#fff }	
#respostas .tituloRespostas  a.btnFechar {color:#000; background: #fff ;text-decoration:none;padding: 0px 4px;float:right;font-weight:bold;  }
#respostas ul{margin: 0px; padding: 0px; list-style:none;font-size:11px;}	
#respostas ul li{float:left; margin: 0px; padding: 3px; list-style:none;}	

#respostas  table#tbRespostas{float:left; font-size:11px;width:auto;}	
#respostas #tbRespostas tr td{padding: 3px 3px;}

/*BARRAS DE ROLAGEM*/

.holder {
	float: left;
	margin: 0px;
}
.scroll-pane {
	width:430px;
	overflow: hidden;
	overflow-y:auto;
	float: left;
	height:200px;
}			

.osX .jScrollPaneTrack {
	background: url(../../images/rol/osx_track.gif) repeat-y;
}
.osX .jScrollPaneDrag {
	background: url(../../images/rol/osx_drag_middle.gif) repeat-y;
}
.osX .jScrollPaneDragTop {
	background: url(../../images/rol/osx_drag_top.gif) no-repeat;
	height: 6px;
}
.osX .jScrollPaneDragBottom {
	background: url(../../images/rol/osx_drag_bottom.gif) no-repeat;
	height: 7px;
}
.osX a.jScrollArrowUp {
	height: 14px;
	background: url(../../images/rol/osx_arrow_up.gif) no-repeat 0 -20px;
	margin:5px 0 0 0;
}
.osX a.jScrollArrowUp:hover {
	background-position: 0 0;
}
.osX a.jScrollArrowDown {
	height: 14px;
	background: url(../../images/rol/osx_arrow_down.gif) no-repeat 0 -20px;
}
.osX a.jScrollArrowDown:hover {
	background-position: 0 0;
}

.left .jScrollPaneTrack {
	left: 0;
	right: auto;
}
.left a.jScrollArrowUp {
	left: 0;
	right: auto;
}
.left a.jScrollArrowDown {
	left: 0;
	right: auto;
}


/* IE SPECIFIC HACKED STYLES */
* html .osX .jScrollPaneDragBottom {
	background: url(../../images/rol/osx_drag_bottom.gif) repeat-y;
	height:100%;
}
* html .osX .jScrollPaneDrag {
	background: url(../../images/rol/osx_drag_middle.png) repeat-y;
}
* html .osX .jScrollPaneDragBottom {
	bottom: -1px;
}
/* /IE SPECIFIC HACKED STYLES */
