<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Eu Vendo Microsol</title>
    <%= javascript_include_tag :all %>
	<%= stylesheet_link_tag 'reset','960', 'main' %>

</head>

<body>
	<div class="container_16">
    	<!-- TOPO -->
    	<div class="grid_4">
        	<h1 class="euvendo"><a href="#" title="Voltar para a página inicial">Eu Vendo Microsol</a></h1>
        </div>
        <div id="topo" class="grid_12">
        	<span class="bemvindo">Olá, euvendomicrosol | <a href="#" title="Clique aqui para fazer logout">Logout</a></span>

        </div>
        <div class="clear">&nbsp;</div>
        
        <!-- MEIO -->
        <!-- MENU -->
    	<div class="grid_4">
        	<div class="menu">
            	<h2>Opções</h2>
                <ul>

                    <li><a href="/admin/campanhas" class="btn-campanhas" title="Campanhas"><span>Campanhas</span></a></li>
                    <li><a href="/admin/campanha_agentes" class="btn-agentes" title="Campanhas Agentes"><span>Campanhas Agentes</span></a></li>
                    <li><a href="/admin/vendedores" class="btn-vendedores" title="Vendedores"><span>Vendedores</span></a></li>
                    <li><a href="/admin/vendedores_ranking" class="btn-ranking" title="Vendedores Ranking"><span>Vendedores Ranking</span></a></li>
                    <!--<li><a href="quiz.html" class="btn-quiz" title="Quiz"><span>Quiz</span></a></li>-->
                    <li><a href="/admin/lance_unico" class="btn-lanceunico" title="Lance Único"><span>Lance Único</span></a></li>

                    <!--<li><a href="#" class="btn-relatorios" title="Relatórios"><span>Relatórios</span></a></li>-->
                    <li><a href="opcoes.html" class="btn-opcoes" title="Opções"><span>Opções</span></a></li>
                    <li><hr /></li>
                    <li><a href="#" class="btn-logout" title="Efetuar logout"><span>Efetuar logout</span></a></li>
                </ul>
            </div>
            <div class="clear">&nbsp;</div>

        </div>
        <!-- /MENU -->
        
        <!-- CONTEUDO -->
    	<div class="grid_12">
        	<div id="conteudo">
            	<%=yield%>
            </div>
            <div class="clear">&nbsp;</div>
        </div>

        <!-- /CONTEUDO -->
        <div class="clear">&nbsp;</div>
    </div>
</body>
</html>
